<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/">
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/index.css">
  <link rel="stylesheet" type="text/css" href="/public/css/card.css">
  <script defer src="/public/javascripts/frontend.js"></script>

</head>

</html>

<body>
  <div class="logobox">
    PhotoShare App

    <nav class="navbar navbar-light" style="background-color: #DAAD86;">
      <div class="container-fluid">
        <div class="col-xs-4">
          {{#if logged}}
          <a id="logout-button">
            <class="btn btn-light" style="background-color: #c18408">Log Out</button>
          </a>
          {{else}}

          <a href="/login" id="login-button"><button class="btn btn-light"
              style="background-color: #c18408">Login</button></a>
          {{/if}}

          <a href="/"><button class="btn btn-light" style="background-color: #c18408">Home</button></a>
          <a href="/postimage"><button class="btn btn-light" style="background-color: #c18408">Post</button></a>

        </div>

        {{#if logged}}
        <script>
          let ele = document.getElementById('logout-button');
          if (ele) {
            ele.onclick = (even) => {
              fetch('/users/logout', {
                  method: "POST"
                })
                .then((data) => {
                  location.replace('/');
                })
            }
          }
        </script>
        {{/if}}
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
  </div>
  </div>

  </nav>
  <div id="card-image" class="main-content">

    <img id="image-post-image" src="/{{currentPost.photopath}}">

    <div id="info-message-grid">

      <div id="info">

        <header id="image-post-title">
          <h2 id="image-post-title-text">{{currentPost.title}}

          </h2>
        </header>

        <div id="image-post-author" class="card-image">{{currentPost.username}}

        </div>
        <div id="image-post-desc" class="card-image">{{currentPost.description}}

        </div>
        <div id="image-post-date" class="card-image">{{currentPost.created}}

        </div>

      </div>

    </div>

    <div id="messages">

      <header id="comment-title">
        <h2>
          Comments
        </h2>
      </header>

      <div id="message-list">

      </div>

      <div id="comment-box">

        <textarea id="comment-box-text" rows="3" cols="30">

              </textarea>
        <button class="pure-material-button-contained" type="submit">Submit
        </button>

      </div>

    </div>

  </div>

  <!-- 
  <script>

    let url = document.URL.split('/');
    let _id = url[url.length - 1];
    let postURL = "http://localhost:3000/post/" + _id;
    fetch(postURL)
      .then((data) => data.json())
      .then((dataAsObject) => {
        console.log(dataAsObject);
        document.getElementById('image-post-title').textContent = dataAsObject.title;
        document.getElementById('image-post-author').textContent = dataAsObject.username;
        document.getElementById('image-post-desc').textContent = dataAsObject.description;
        document.getElementById('image-post-date').textContent = dataAsObject.created;
        document.getElementById('image-post-image').src = "http://localhost:3000/" + dataAsObject.photopath;
      })
      .catch((err) => console.log(err));

  </script> -->

</body>

</html>